include *.json
include *.py
include *.rst
include *.txt
include *.yml
include .bowerrc
include .dockerignore
include Dockerfile
incluce LICENSE
include babel.cfg
include mapping.cfg
include requirements*.txt

recursive-include docs *
recursive-exclude docs/_build *

recursive-include samplepkg *.cfg
recursive-include samplepkg *.dat
recursive-include samplepkg *.dtd
recursive-include samplepkg *.html
recursive-include samplepkg *.in
recursive-include samplepkg *.jpeg
recursive-include samplepkg *.js
recursive-include samplepkg *.json
recursive-include samplepkg *.kb
recursive-include samplepkg *.lua
recursive-include samplepkg *.png
recursive-include samplepkg *.py
recursive-include samplepkg *.sql
recursive-include samplepkg *.txt
recursive-include samplepkg *.wsgi
recursive-include samplepkg *.xml
recursive-include samplepkg *.xsd
recursive-include samplepkg *.xsl
recursive-include samplepkg *.yml

recursive-include samplepkg/static *
recursive-include samplepkg/templates *
recursive-include samplepkg/testsuite *
recursive-include samplepkg/translations *.mo *.po *.pot

recursive-include scripts *.sh
recursive-include scripts *.py

recursive-exclude * *.py[co]
