# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2018 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include .dockerignore
include .editorconfig
include *.json *.rst *.sh *.txt
include LICENSE
include pytest.ini
include docs/requirements.txt
include docs/Makefile
prune docs/_build
recursive-include .github/workflows *.yml
recursive-include docs *.bat *.py *.rst
recursive-include examples *.py *.sh *.json *.py
recursive-include tests *.py
include .git-blame-ignore-revs
