# SPDX-FileCopyrightText: 2015-2018 CERN.
# SPDX-License-Identifier: MIT

include .dockerignore
include .editorconfig
include *.json *.rst *.sh *.txt
include LICENSE
include pytest.ini
include docs/requirements.txt
include docs/Makefile
prune docs/_build
recursive-include .github/workflows *.yml
recursive-include docs *.bat *.py *.rst
recursive-include examples *.py *.sh *.json *.py
recursive-include tests *.py
include .git-blame-ignore-revs
